/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box; 
 }

*:before{
   box-sizing: border-box; 
}

*:after{
    /* content: ""; */
    box-sizing: border-box; 
}

:root {
    /* Colors */
    --colorBackground: #FBFCFE;
    --colorBluePrimary: #07167C;
    --colorBlueSecondary: #F3F4FA;
    --colorBlueBorder: #5666F2;
    --colorBlueShadow1: rgba(5, 36, 200, 0.05);
    --colorBlueShadow2: rgba(5, 36, 200, 0.04);
    --colorTextPrimary: #2E313E;
    --colorBlackAccent: #4B4B5A;
    --colorGrey04: #7D7D7E;
}

@font-face {
    font-family: nunitoRegFont;
    src: url(../fonts/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: nunitoSemiBoldFont;
    src: url(../fonts/Nunito-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: nunitoBoldFont;
    src: url(../fonts/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: nunitoSansRegFont;
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Icon colors */

.material-icons.primary-blue { 
    color: var(--colorBluePrimary);
}

h1 {
    font-family: nunitoBoldFont;
    font-size: 24px;
    line-height: 32px;
    color: var(--colorBlackAccent);
}

h2 {
    font-family: nunitoBoldFont;
    font-size: 24px;
    line-height: 32px;
    color: var(--colorBluePrimary);
}

h3 {
    font-family: nunitoBoldFont;
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorBluePrimary);
}

h4 {
    font-family: nunitoSemiBoldFont;
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorBluePrimary);
}

h5 {
    font-family: nunitoRegFont;
    font-size: 14px;
    line-height: 1.4;
    color: var(--colorBlackAccent);
}

h6 {
    font-family: nunitoRegFont;
    font-size: 14px;
    line-height: 24px;
    color: var(--colorGrey04);
}

a {
    text-decoration: none;
    /* align-self: center; */
}

a img {
    margin-left: 5px;
    margin-right: 5px;
}

/* NOTE: page main components */
body {
    height: 100%;
    max-width: 1440px;
    background-color: var(--colorBackground);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 970px) {
    body {
        max-width: 970px;
        /* width: 375px; */
    }
}

.center-text {
    text-align: center;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 970px) {
    header {
        padding: 12px 16px
    }
}

header > img {
    height: 48px;
    width: auto;
}

header > div {
    height: max-content;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.header-left {
    width: 200px;
    justify-content: space-between;  
}

@media only screen and (max-width: 970px) {
    .header-left-small {
        width: 140px;
    }
}

.tab {
    overflow: hidden;
}

@media only screen and (max-width: 970px) {
    .tab {
        display: none;
    }
}

.tab button {
    font-family: nunitoSemiBoldFont;
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorBluePrimary);
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid transparent;
    /* margin-left: 8px;
    margin-right: 8px; */
}

.tab button:active {
    border-bottom: 1px solid var(--colorBluePrimary);
}
.tab button:hover {
    border-bottom: 1px solid var(--colorBluePrimary);
}

.header-center {
    width: 64px;
}

.header-right {
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 970px) {
    .header-right {
        width: 140px;
        justify-content: end;
    }
}

main {
    align-items: flex-end;
}

.verified-content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.verified-content p {
    font-family: nunitoBoldFont;
    font-size: 16px;
    line-height: 24px;
    color: var(--colorBluePrimary);
    background-image: url("../assets/icons/content/ico_check@2x.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 40px;
}

@media only screen and (max-width: 970px) {
    .verified-content {
        padding: 0 0;
        padding-bottom: 32px;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        margin: -8px auto;
    }
    .verified-content>* {
        margin: 10px auto;
    }
}   

.divider {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    padding-top: 56px;
    padding-bottom: 56px;
    width: 100%;
    background-color: var(--colorBluePrimary);
}
.blue-divider {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: auto; */
    align-items: center;
}

@media only screen and (max-width: 970px) {
    .divider {
       padding: 0; 
    }
    .blue-divider {
        height: 200px;
        padding: 48px 0;
        flex-direction: column;
    }
}

.content-tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.tab-content-instructor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 64px;
}

@media only screen and (max-width: 970px) {
    .tab-content-instructor {
        flex-direction: column;
        margin: 0;
    }
}

    .tab-content-box {
        width: 33.3333%;
        padding: 0 12px;
    }

    @media only screen and (max-width: 970px) {
        .tab-content-box {
            width: 100%;
            padding: 12px 0;
        }
    }

.tab-content-employer {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 64px;
}

.content-tab button {
    font-family: nunitoSemiBoldFont;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    color: var(--colorBluePrimary);
    border-width: 0;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid transparent;
}

.content-tab button:active {
    border-bottom: 1px solid var(--colorBluePrimary);
}
.content-tab button:hover {
    border-bottom: 1px solid var(--colorBluePrimary);
}

.customer-responses-headline {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 40px;
}

.customer-responses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-left: -12px;
    margin-right: -12px;
}

.customer-responses-box {
    width: 50%;
    margin: 0 12px;
}

@media only screen and (max-width: 970px) {
    .customer-responses {
        flex-direction: column;
        width: fit-content;
        margin: 0;
        margin-bottom: 64px;
    }
    .customer-responses-box {
        width: fit-content;
        margin: 10px 16px;
    }
}

.top-image {
    /* height: 640px; */
    padding-top: 184px;
    padding-bottom: 204px;
    background-image: url(../assets/icons/content/landing_page/img_main_top@100%.jpg);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 970px) {
    .top-image {
        background-size: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.bottom-image {
    padding: 32px 0;
    background-image: url(../assets/icons/content/landing_page/img_main_bottom@1x.jpg);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 970px) {
    .bottom-image {
        background-size: 100%;
        padding: 32px 0;
    }
}

footer {
    background-color: var(--colorBackground);
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 970px) {
    .footer-right {
        padding: 24px 16px;
    }
}

footer div {
    height: max-content;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 230px;
    justify-content: space-between;
    align-items: center;
}

.footer-left h5 {
    display: inline-block;
}

.footer-left > a {
    margin: 0 8px 0 8px
}

.footer-left div a img {
    width: auto;
    height: 32px;
}

@media only screen and (max-width: 970px) {
    .footer-left {
        width: max-content;
        justify-content: space-between;
        padding-left: 0 16px;
    }
    .footer-left h5 {
        display: none;
    }
}


.footer-right {
    width: 280px;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 970px) {
    .footer-right {
        justify-content: end;
        width: fit-content;
    }
    .footer-right h5 {
        display: none;
    }
}

/* NOTE: buttons */

.menu-button {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icons/content/img_burger_menu@2x.png);
    background-size: 24px;
    border-color: transparent;
    border-width: 0;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 970px) {
    .menu-button {
        display: inline-block;
        
    }
}

.button-register-small {
    width: 102px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: var(--colorBluePrimary);
    text-align: center;
}

@media only screen and (max-width: 970px) {
    .button-register-small {
        padding: 12px 8px;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        border-radius: 0;

    }
}

.button-register-large {
    width: 164px;
    height: 48px;
    line-height: 48px;
    border-radius: 40px;
    background-color: var(--colorBluePrimary);
    text-align: center;
}

.button-register-large p {
    font-family: nunitoSemiBoldFont;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}

@media only screen and (max-width: 970px) {
    .button-register-large { 
        width: 102px;
        height: 40px;
        line-height: 40px;
    }
    .button-register-large p {
        font-size: 12px;
        line-height: 16px;
    }
}

.button-white {
    background-color: white;
    color: var(--colorBluePrimary);
}

.button-blue {
    background-color: var(--colorBluePrimary);
    color: white;
}



.button-register-small p {
    color: white;
    font-family: nunitoSemiBoldFont;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

@media only screen and (max-width: 970px) {
    .button-register-small p {
        color: var(--colorBluePrimary);
        font-size: 14px;
    }
}

.button-transparent {
    height: max-content;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 970px) {
    .button-transparent {
        height: fit-content;
        padding: 12px 8px;
        color: transparent;
    }

    .button-transparent h4 {
        font-size: 14px;
        line-height: 16px;
    }
}

.language-button {
    cursor: pointer;
    background-color: var(--colorBlueSecondary);
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    border-width: 0;
    padding: 8px 16px 8px 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: nunitoSemiBoldFont;
    color: var(--colorBluePrimary);
    font-size: 14px;
    line-height: 24px;
}

.language-button p {
    padding-left: 8px;
    padding-right: 8px;  
    
}

.language-button img {
    height: 15px;
    width: auto;
}

.dropdown {
    position: relative;
    width: 190px;
}

.dropdown-content {
    bottom: 0;
    display: none;
    position: absolute;
    width: 190px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px -2px 20px var(--colorBlueShadow);
    padding: 16px 0 16px 0;
    z-index: 1;
}

.dropdown-content button {
    cursor: pointer;
    font-family: nunitoRegFont;
    color: var(--colorBlackAccent);
    background-color: transparent;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 8px 16px 8px 16px;
    border-width: 0;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid transparent;
}

.dropdown-content button p {
    padding-left: 8px;
    padding-right: 8px;  
}

.dropdown-content button img {
    height: 15px;
    width: auto;
}

.dropdown-content button:hover {
    background-color: var(--colorBlueShadow);
    color: var(--colorBluePrimary);
    transition: all 500ms;
}

.dropdown-content button:active {
    background-color: transparent;
    font-weight: 600;
    transition: all 500ms;
    border: 1px solid var(--colorBluePrimary);
    border-radius: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-white {
    color: white;
}

/* NOTE: boxes */

.tabbar-content-card {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    /* width: 33.33%; */
    height: 308px;
    border-radius: 4px;
    padding: 40px;
    background-color: white;
    box-shadow: 
        0px -2px 20px var(--colorBlueShadow2), 
        0px 4px 20px var(--colorBlueShadow1);
}

@media only screen and (max-width: 970px) {
    .tabbar-content-card {
        margin: 0 16px;
    }
}

    .tabbar-content-card img {
        height: 40px;
        width: 40px;
    }

    .tabbar-content-card p {
        font-family: nunitoSansRegFont;
        font-size: 15px;
        line-height: 20px;
        color: var(--colorBlackAccent);
    }

.customer-response-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    border-radius: 16px;
    border: 0.5px solid var(--colorBlueBorder);
    padding: 56px 40px 56px 40px;
}

@media only screen and (max-width: 970px) {
    .customer-response-card {
        height: fit-content;
        width: fit-content;
        padding: 40px;
    }
    .customer-response-card > * {
        margin: 16px 0;
    }
}

    .customer-response-card img {
        width: 32px;
        height: 32px;
    }

    .customer-response-card p {
        font-family: nunitoSansRegFont;
        font-size: 20px;
        line-height: 32px;
        color: var(--colorBlackAccent);
    }

.user-info {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    text-align: left;
    /* justify-content: flex-start; */
    
}

    .user-info img {
        width: 104px;
        height: 104px;
        margin-right: 40px;
    }

.user-info-detail {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

    .user-info-detail h6 {
        font-size: 16px;
        background-image: url('../assets/images/components/flag_cze@2x.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 24px;
        padding-left: 32px;
        margin-top: 16px;
        margin-bottom: 12px;
    }

    .user-info-detail p {
        font-size: 16px;
        line-height: 24px;
        color: var(--colorGrey04);
    }

.get-hired-card-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px;
    width: 520px;
    height: 252px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 
        0px -2px 20px var(--colorBlueShadow2), 
        0px 4px 20px var(--colorBlueShadow1);
}

@media only screen and (max-width: 970px) {
    .get-hired-card-top {
        margin: 10px 16px;
        width: fit-content;
        height: fit-content;
        padding: 30px 40px;
    }
    .get-hired-card-top > * {
        padding: 10px 0;
    }
}

.get-hired-card-bottom {
    direction: ltr;
    display: flex;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 72px 40px 72px 40px;
    width: 704px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 
        0px -2px 20px var(--colorBlueShadow2), 
        0px 4px 20px var(--colorBlueShadow1);
}

@media only screen and (max-width: 970px) {
    .get-hired-card-bottom {
        margin-left: 16px;
        margin-right: 16px;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
}

.get-hired-card-bottom a {
    padding-left: 20px;
}

@media only screen and (max-width: 970px) {
    .get-hired-card-bottom a {
        padding-left: 0;
        padding-top: 20px;
    }
}

.row{
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
}

@media only screen and (max-width: 970px) {
    .row {
        max-width: 100%;
        min-width: 100%;
    }
}

.from-right {
    direction: rtl;
}